### System ###

.DS_Store
.SyncID
.SyncIgnore
.AppleDouble/*
.SyncArchive/
.SyncArchive/*
.bundle
tags
tags.lock
tags.temp
tags/
tags/*

### Node ###
# Logs
logs
*.log
npm-debug.log*
.npm
node_modules/

### Runtime data ###
pids
*.pid
*.seed
*.pid.lock
